@import "../settings";

.layout {
    height: 100vh;
}

.contentWrapper {
    display: flex;
    height: calc(100vh - $navbarHeight);
}

.content {
    padding: $mobilePadding;
    width: 100%;
    max-height: calc(100vh - $navbarHeight);
    overflow-y: auto;
}

@media screen and (min-width: 768px) {
    .content {
        padding: $defaultPadding;
    }
}