@import "../settings";

.layout {
    height: 100vh;
}

.contentWrapper {
    display: flex;
    height: calc(100vh - $navbarHeight);
}

.content {
    padding: $defaultPadding;
    width: 100%;
    max-height: calc(100vh - $navbarHeight);
    overflow-y: auto;
}