@import "../settings";
.sidebar {
    width: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.link {
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: $primary;
    transition: color 0.06s ease-in-out;
    &:hover {
        background-color: #f5f5f5;
    }
    svg {
        margin-right: 16px;
    }
}

.activeLink {
    color: $secondary;
    background-color: #f5f5f5;
}
